.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; background-color: orange;}
nav li a{color: rgb(238, 26, 97)}
input{border-radius: 50%;}
body{
    background-color: rgb(169, 230, 56);
    color: rgb(69, 199, 231);

}